body{
    background:red;
}
.bg > div{
    text-align:center;
    margin-top:25%;
}
h4{
    background-color: #000000;
    font-size: large;
    margin-left:40%;
    margin-right:40%;
    padding-right:1px;
    border-radius:4px;
    padding:10px 1px ;
    
    /* width: 16%; */
    color: #ffffff;
}
button{
    background:#ffffff;
    padding:0.5em;
    border:solid 1px #000000;
    border-radius: 3px;
}
